.row {
  display: flex;
  background: rgba(32, 97, 150, 1);
  padding: 15px 10px;
  box-sizing: border-box;

  ol,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

    .contact-item {
      flex: 1;
    }
  }

  .copyright {
    display: flex;
    justify-content: center;

    .copyright-item {
      flex: 0 0 auto;
      padding: 0 10px;
      position: relative;
      line-height: 16px;
      border-right: 1px solid rgba(255, 255, 255, 0.6);

      a {
        font-size: 16px;
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  a {
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: grey;
    }
  }
}
