<nav class="navbar navbar-dark bg-dark">
  <a href="#">
    <span class="navbar-brand mb-0 h1 ms-3">{{ blogName }}</span>
  </a>
  <form class="form-inline me-3">
    Search: <input class="form-control ms-2" />
  </form>
</nav>

<div class="p-5 bg-light text-center">
  <h1>Title</h1>
  <!--{{ title }}</p>-->
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" v-bind:class="{ 'show': show }">
      <ul class="navbar-nav mr-auto" v-if="$themeConfig.nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <!-- <li class="nav-item active">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about">About</a>
        </li> -->
        <!-- <li class="nav-item active" v-for="item in $themeConfig.nav">
          <a class="nav-link" :href="item.link">{{ item.text }}</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
