.main-content-area {
  background-image: linear-gradient(
      180deg,
      hsl(120 0% 7% / 0.95),
      hsl(180 0% 7% / 0.95)
    ),
    url(/assets/img/bg-tile.png) !important;
  height: 100vh;
}

h1 {
  margin: 15px 15px;
  color: white;
}

.input-box {
  background-color: black;
  width: 500px;
  color: #dedede;
}
